@font-face{
	font-family:'Roboto-Medium';
	src:url(../fonts/Roboto-Medium.ttf);
}
@font-face{
	font-family:'Roboto-Regular';
	src:url(../fonts/Roboto-Regular.ttf);
}
@font-face{
	font-family:'Roboto-Light';
	src:url(../fonts/Roboto-Light.ttf);
}
@font-face{
	font-family:'Roboto-Black';
	src:url(../fonts/Roboto-Black.ttf);
}
@font-face{
	font-family:'Roboto-ThinItalic';
	src:url(../fonts/Roboto-ThinItalic.ttf);
}
@font-face{
	font-family:'Roboto-LightItalic';
	src:url(../fonts/Roboto-LightItalic.ttf);
}
@font-face{
	font-family:'Roboto-Bold';
	src:url(../fonts/Roboto-Bold.ttf);
}
@font-face{
	font-family:'Roboto-Italic';
	src:url(../fonts/Roboto-Italic.ttf);
}
div
{
    font-family: 'Roboto-Regular';
}
select option:hover
{
    background-color: #49DBD0 !important;
    color: #FFFFFF;
}
body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	
	margin: 0;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #49dbd0;
    height:48px;
    background-color: #e6e7e8;
    position: fixed;
    top:0;
    right:0;
    display:block;
    width: calc(100% - 180px);
    z-index: 10;

}


#content
{
    padding: 0;
 }
#contentWrapper
{
	margin-left: 179px;
	margin-top: 47px;

}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background-color: #0077B0;
	position: fixed;
	top: 0;
	left:0;
	width:180px;
	height: 100%;
	box-sizing:border-box;
	padding:0 10px;
    z-index: 10;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.5 );
}

#mainmenu ul
{
	margin:0px;
	width:100%;
	box-sizing: border-box;
    padding: 0;
}
#mainmenu .menuTop
{
	height: 85px;
	width: 100%;
	border-bottom: 1px solid #49DBD0;

}

#mainmenu ul li
{
	list-style: none;
	width:100%;
	display: block;
	border-bottom: 1px solid #49DBD0;
}
#mainmenu ul li:last-child
{ 
	border: 0;
}

#mainmenu ul li a
{
	padding:10px 0;
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	display: block;
	text-indent: 30px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
    margin: -11px 74px 0 75px;
    background: #ffffff;
    line-height: 45px;
    border-bottom: 2px solid #d8d8d8;
    padding-right: 18px;
    margin-right: 145px;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

div.botones-content div.aceptar-boton
{
    width: 100px;
    height: 30px;
    cursor: pointer;
}
.grid-view {
    padding: 15px 107px;
    /*width: 900px;*/
}

.grid-view .button-column img
{
    width: 16px;
    height: 16px;
}



/*****/

.grid-view table.items{
	border:none;
   
}

.grid-view table.items td{
	border: none;
}

.grid-view table.items th{
	background:#ffffff;
	text-align: left;
	color: #0077b0;
}
.grid-view table.items th a {
     color: #0077b0 ;
   }
.grid-view table.items tr.odd {
    background: #E8E8E8 ;
}
.grid-view table.items tr.even {
    background: #ffffff;
}
.grid-view table.items tr:hover.selected {
    background: #a9efe9;
}

.grid-view table.items tbody tr:hover {
    background: #d4f7f4;
}

h1 {
	line-height: 36px;
	text-indent:50px;
	background: #0077B0;
    border-bottom: 3px solid #49dbd0;
    height: 36px;
    font-size: 21px;
    color: white;
}
.grid-view table.items th a:hover 
{
    color: #09b7c9;
}

