
/*   *    */

div.form {
    width: 90% !important;
    margin: 0 auto;
}
div.form-containerWraper:after
{
    content: '';
    display:block;
    clear: both;
}
div.containerbutton{
       margin-top: 34px;
          width: 110px;
}

label.letreros{
    font-size: 14px !important;
    color: #0077B0;
}

/*      ************          */


.form-cLarge{
    width:200px;
}


.form-cRight{
  width: 260px;
  float:left;
  padding-top: 1px;

}
.form-cLeft{
float:left;
width: 300px;
 margin-left: 60px;
}

.containerBoxRight{
  width: 300px;
  float:left;
  padding-top: 1px;
}
.containertBoxLeft{
  float:left;
  width: 300px;  
  margin-left: 35px;
}


/*     *       */
.cLetreros{
  margin-left: 29px;
  font-size: 14px !important;
  color: #0077B0;
}

.letrero-container{
 background-color:  #E4E7EB;
 height: 4px;
 width:80%;
}
.letrero-containerx{
  background-color:  #E4E7EB;
  height: 4px;
  width:130%;
  margin-top: 10px;
 }

 .ingesp{
    height: 20px;
    width: 260px;
    margin-left:33px;
    margin-top: 10px;
    min-height: 30px;
    border: 2px solid #0077b0;
    border-radius: 5px;
    border-left: 30px solid #0077b0;
    text-indent: 5px;
    box-sizing: border-box;
    display: block;
}
.ierror{
  color:#c00;
  margin-left: 50px;
}