
/*
*  GENERA ESTILOS PARA EL LOGIN
*/

body.site-login{
	overflow-x: hidden !important;
  /*adding-top: 120px;*/
}


body.site-login #contentWrapper
{
    margin-top: 0px;
    width: 100% !important;
}

body.site-login #headerSmobil{
    display: none;
}
body.site-login img#slogo{
    width: 340px;
    margin: 0 auto;
    display: inherit;
    margin-bottom: 46px;
}

body.site-login #page{
	margin:0 auto;
}

body.site-login #contentWrapper{
/*	margin:0 !important;*/

}
body.site-login #contentWrapper #content{
	/*margin:0 auto !important;*/
    margin-top: 10% !important;
}

body.site-login #contentWrapper #content div.form{
	width: 350px; 
}

body.site-login #contentWrapper #content div.form form input[type="text"],
body.site-login #contentWrapper #content div.form form input[type="submit"],
body.site-login #contentWrapper #content div.form form input[type="password"]{
    width: 240px ; 
    min-height: 30px;
    box-sizing: border-box;
    border: 2px solid #0077b0;
    border-radius: 5px;
    text-indent: 5px;
      
}

body.site-login form#login-form{
    width: 350px;
    text-align: center;
}

body.site-login form#login-form .rememberMe{
    width: 100% !important;  
    text-align: center;
    
}

body.site-login form#login-form .rememberMe label{
    vertical-align: 11px !Important;  
    font-size: 12px;
}

body.site-login form#login-form label{
    font-size: 15px;
    color:#0077b0;
}
    
body.site-login form#login-form .checkboxcolor{
	display: none;
}

body.site-login form #LoginForm_rememberMe{
	width: 15px !Important;
    height: 15px !Important;
}

body.site-login form .errorMessage{
	height: 15px;
	display: inline-block;
}


body.site-login #mainmenu{
  display:none
}

body.site-login h1{
    display: none;
}

body.site-login input[type="submit"] {
    background-color: #40B2BF;
    color: #FFFFFF;
    text-align: center;
    border-radius: 4px;
}


body.site-login #footer{
    border-top: 2px solid #49dbd0 !important;
    margin: 0px !important;
    background-color: #0077b0 !important;
    padding: 25px !important;
    position: absolute;
	bottom: 0;
	width: 100%;

}

body.site-login #top{
    border-bottom: 2px solid #49dbd0 !important;
    margin: 0px !important;
    background-color: #0077b0 !important;
    padding: 25px !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}