.gBoton 
{
    background-color: #0077b0;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    /*margin-left: 63px;*/
    text-align: center;
    text-decoration: none;
    width: 135px;
}
.gBoton:hover
{
    background-color: #21B7C7;
}
.fBoton{
    background-color: #0077b0;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    width: 120px;
    margin-right: 5px;  
}
a.gBoton.bBoton:hover
{
    background-color: #49dbd0;
}
.agregar
{
    float: right;
    width: 51px;
    height: 29px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-right: 30px;
}

.agregar.especie
{
    background-image: url('./../../images/crear/boton_nueva_especie.svg');
}
.agregar.cepa
{
    background-image: url('./../../images/crear/boton_nueva_sepa.svg');
}
.agregar.estacion
{
    background-image: url('./../../images/crear/iconoNuevaEstacion.svg');
}
.agregar.solicitudes
{
    background-image: url('./../../images/crear/iconoNuevaSolicitud.svg');
}
.agregar.clientes
{
    background-image: url('./../../images/crear/iconoNuevoCliente.svg');
}
.agregar.personal
{
    background-image: url('./../../images/crear/iconoNuevoPersonal.svg');
}
.agregar.roles
{
    background-image: url('./../../images/crear/iconoNuevoRol.svg');
}
.agregar.usuarios
{
    background-image: url('./../../images/crear/iconoNuevoUsuario.svg');
}
.agregar.granjas
{
    background-image: url('./../../images/crear/nuevaGranja.png');
}
.agregar.planta
{
    background-image: url('./../../images/crear/nuevoAlmacen.png');
}
.agregar.campsensado
{
    background-image: url('./../../images/crear/iconoNuevaSiembra.svg');
}

a.gBoton:hover {
    text-decoration: none;
    color: #FFF;
}

body.personal .gBoton {
    width: 135px;
    height: 35px;
    line-height: 35px;
    margin-left: 0px;
}

body.roles .gBoton {
    width: 135px;
    margin-left: 0px;
}

body.usuarios .gBoton {
    width: 135px;
    margin-left: 0px;
}

body.granjas .gBoton {
    width: 135px;
    margin-left: 0px;
}

body.estacion .gBoton 
{
    width: 135px;
    display: inline-block;
    height: 35px;
    right: 0px;
    line-height: 35px;
    margin-left: 0;
}

body.CampSensado .gBoton {
    height: 35px;
    width: 135px;
    line-height: 35px;
    font-size: 18px;
    margin-left: 0 !important;
    float: none !important;
    display: inline-block;
    margin-right: 30px;
}

body.viajes .gBoton {
    height: 35px;
    width: 135px;
    line-height: 35px;
    font-size: 18px;
    margin-left: 0 !important;
    float: none !important;
    display: inline-block;
    margin-right: 30px;
}


/*body.viajes-update .gBoton {
  font-size: 14px !important;
}*/


