#content{
  background-image: url('../../images/dashboard/logoTransparente.png');
  background-position: right bottom;
  background-repeat: no-repeat;

}
.dash1{
	margin-top:30px;
	width: auto;
	height: 300px;
}
.estacion{
	float: left;
	width: 48%;
	height: 300px;
}
.reg{
	
	border-bottom: 4px solid #21B7C7;
	float:left;
	width: 25px;
	height: 167px;
	margin-left:18px;
}
.reg2{
	
	border-left: 4px solid #21B7C7;
	float:left;
	width: 1px;
	height: 250px;
	margin-top:40px;
}
.reg3{
	
	border-left: 4px solid #21B7C7;
	float:left;
	width: 1px;
	height: 250px;
	margin:0px;
	margin-top:40px;
}
.contenido{
	float: left;
	width: 47%;
	height: 300px;
}
.divThead{
	color:white;
	margin: 0px;
}
.topcont{
	font-size: 16px;
	color:#0077b0;
	margin:10px;
}
.lestacion{
	overflow-y:scroll;
	width: 569px;
	height: 213px;
	border-left: 1px solid #21B7C7;
	border-bottom: 1px solid #21B7C7;
	border-right: 1px solid #21B7C7;
}
.lestacion::-webkit-scrollbar-track
{
	background-color: #E6E6E6;
}

.lestacion::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.lestacion::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #AAA;
}
.lestacion p{
	font-size: 13px;
}
.liest{
	margin:0px;
	width: auto;
	height: 42px;
	border-bottom: 1.5px dashed #aaa;

}
.liest.selected{
	background-color: #21B7C7;
}
.resp{
	line-height: 40px;
	float:left;
	margin: 0px;
	margin-left:10px;
	width: 40%;
	font-family: 'Roboto-Regular';
	font-weight: bold;

}
.est{
	line-height: 40px;
	float:left;
	margin: 0px;
	margin-left:10px;
	width: 40%;
	font-family: 'Roboto-Regular';
	font-weight: bold;
}
.estIco{
	margin-top:8px;
	line-height: 40px;
	margin-left:10px;
	float:left;
	width: 17px;
	height: 19px;
	background-image: url("../../images/dashboard/iconoClientes.png");
}
.respIco{
	margin-top:10px;
	line-height: 40px;
	margin-left:10px;
	float:left;
	width: 12px;
	height: 15px;
	background-image: url("../../images/dashboard/iconoPersonal.png");
}
.lcontenido{
	width: 569px;
	height: auto;
}
.cont{

	margin-left:4px;
	top:5px;
	width: 569px;
	height: 257px;
}
.litan{
	border:1px solid #000;
	margin-left:5px;
	margin-top:10px;
	float:left;
	width:30%;
	height: 70px;
}
.oxico{
	margin-top:10px;
	line-height: 40px;
	margin-left:3px;
	float:left;
	width: 20px;
	height: 28px;
	background-image: url("../../images/dashboard/IconoOxigeno.png");
}
.phico{
	margin-top:10px;
	line-height: 40px;
	margin-left:3px;
	float:left;
	width: 25px;
	height: 27px;
	background-image: url("../../images/dashboard/iconoPH.png");
}
.tempico{
	margin-top:10px;
	line-height: 40px;
	margin-left:3px;
	float:left;
	width: 15px;
	height: 36px;
	background-image: url("../../images/dashboard/iconoTemp.png");
}
.clab{
	line-height: 50px;
	float:left;
	margin: 0px;
	font-family: 'Roboto-Regular';
	font-weight: bold;
	font-size: 13px;
}
.tanT{
	height: 20px;
	background-color: #1178AF;
}
.litan{
border: 3px solid #1178AF;
border-radius: 10px;
}
.pTan{
line-height: 20px;
color:white;
text-align: center;
font-size: 14px;
}

.ubicacion{
	margin-top: 30px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #E6E6E6;
	text-align: center;
	font-family: 'Roboto-Regular';
	font-weight: lighter;
	font-size: 16px;
	color:#1178AF;
}

.infocliente, .infocontacto {
	float: left;
	
	width: 300px;
	height: 100px;
	margin-top:80px;
	margin-left: 20px;
	
	
}
.tit{
	margin:0px;
	margin-top: 6px;
	margin-left: 6px;
	font-family: 'Roboto-Regular';
	font-weight: bold;
	font-size: 17px;
}
.infocont{
	margin-left: 6px;
}
.infocont span{
	font-size: 15px;	
	display:block;
}
.info{
	height: 120px;
}
.container-granja{
	height: 300px;
}

div.bolaChica
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: left;
    background-color: #09B7C9;
    margin-top: 13px;
}
.bolaChica.selected,
.bolaChica.selected,
.bolaChica.selected,
.bolaChica.selected
{
    background-color: #0077B0;
}
div.lineaChica
{
    float: left;
    width: 140px;
    height: 5px;
    margin-top: 21px;
    background-color: #09B7C9;
}
div.bolaGrande
{
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50%;
    background-color: #09B7C9;
    cursor: default;
}
div.lineaGandre
{
    float: left;
    width: 365px;
    height: 5px;
    margin-top: 21px;
    background-color: #09B7C9;
}
.bolaChica.selected,
.lineaChica.selected,
.bolaGrande.selected,
.lineaGandre.selected
{
    background-color: #0077B0;
}
.siguiente
{
    float: right;
    color: #FFFFFF;
    background-color: #0077B0;
    border-radius: 5px;
    width: 120px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    /*margin-right: 120px;*/
}
.cotro{
	text-align: right;
}