/*
 * FORM ICONS
 */
#Viajes_id_responsable{
  background-image: url('../../images/viajes/nv_iconoUsuario.png'), url('../../images/form/bg.png');
  background-position: 8px 5px,left;
  background-repeat: no-repeat;
  padding-left: 30px;
  border-left:0;
}

.row.success #Viajes_id_responsable{
  background-image: url('../../images/viajes/nv_iconoUsuario.png'), url('../../images/form/bg_success.png');
}
.row.error #Viajes_id_responsable{
  background-image: url('../../images/viajes/nv_iconoUsuario.png'), url('../../images/form/bg_error.png');
}




#SolicitudesViaje_id_personal_1_tecnico{
  background-image: url('../../images/viajes/nv_iconoUsuario.png'), url('../../images/form/bg.png');
  background-position: 8px 5px,left;
  background-repeat: no-repeat;
  padding-left: 30px;
  border-left:0;
}

.row.success #Viajes_fecha_salida,
.row.success #Viajes_hora_salida
{
  background-image: url('../../images/viajes/nv_iconoCalendario.png'), url('../../images/form/bg_success.png');
}



.row.error #Viajes_fecha_salida,
.row.error #Viajes_hora_salida
{
  background-image: url('../../images/viajes/nv_iconoCalendario.png'), url('../../images/form/bg_error.png');
}


.row.error #Viajes_id_estacion{
  background-image: url('../../images/viajes/nv_iconoCamion.png'), url('../../images/form/bg_error.png');
}

.row.success #Viajes_id_estacion{
  background-image: url('../../images/viajes/nv_iconoCamion.png'), url('../../images/form/bg_success.png');
}

#Viajes_id_estacion{
  background-image: url('../../images/viajes/nv_iconoCamion.png'), url('../../images/form/bg.png');
  background-position: 8px 5px,left;
  background-repeat: no-repeat;
  padding-left: 30px;
  border-left:0;
}

#Viajes_fecha_salida, #Viajes_hora_salida{
  background-image: url('../../images/viajes/nv_iconoCalendario.png'), url('../../images/form/bg.png');
  background-position: 8px 5px,left;
  background-repeat: no-repeat;
  padding-left: 30px;
  border-left:0;
}


div.form .chosen-container#SolicitudesViaje_id_personal_1_tecnico_chosen,
div.form .chosen-container#SolicitudesViaje_id_personal_1_chofer_chosen
{
    background-image: url('../../images/viajes/nv_iconoChofer.png'), url('../../images/usuarios/bg.png');
    background-position: 8px 5px,left;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-left:0;
}



div.form .chosen-container#SolicitudesViaje_id_personal_1_tecnico_chosen.success,
div.form .chosen-container#SolicitudesViaje_id_personal_1_chofer_chosen.success
{

    background-image: url('../../images/viajes/nv_iconoChofer.png'), url('../../images/form/bg_success.png');
    background-position: 8px 5px,left;
    background-repeat: no-repeat;

}

div.form .chosen-container#SolicitudesViaje_id_personal_1_tecnico_chosen.error,
div.form .chosen-container#SolicitudesViaje_id_personal_1_chofer_chosen.error
{
    background-image: url('../../images/viajes/nv_iconoChofer.png'), url('../../images/form/bg_error.png');
    background-position: 8px 5px,left;
    background-repeat: no-repeat;

}




div.pedido
{
    float: left;
    width: 250px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #0077B0;
    border-radius: 5px;
    overflow: hidden;
}
div.form
{
    margin-top: 60px !important;
}
div.tituloEspecie
{
    background-color: #0077B0;
    text-align: center;
    color: #FFFFFF;
    line-height: 25px;
}
div.menuTabs
{
    margin-bottom: 70px;
    position: relative;
}
div.nombreTabs
{
    position: absolute;
    color: #0077B0;
}
div.nombreTabs.uno
{
    
}
div.nombreTabs.dos
{
    
}
div.nombreTabs.tres
{
    
}
div.tab
{
    width: 1080px;
    margin: 0 auto;
}
div.pedidoWraper
{
    padding: 10px;
}
div.pedidoWraper.gris
{
    background-color: #E6E7E8;
    height: auto;
}
div.pedidoWraper > div
{
    padding-bottom: 10px; 
    color: #0077B0;
    font-family: 'Roboto-Bold';
}
div.pedidoWraper div span
{
    color: #000000;
    font-family: 'Roboto-Regular';
}
div.tab[data-tab="1"] div.formContainer1
{
    width: 47%;
    float: left;
}
.siguiente.uno
{
    margin-right: 108px;
    margin-top: 20px;
}
.siguiente.dos
{
    margin-right: 10px;
}
div.form div.tab div.row input,
div.form div.tab div.row .css-select
{
    width: 100%;
}
div.form div.tab div.row
{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;
}
div.form div.tab div.row.buttons
{
    float: left;
    margin-top: 50px;
    width: 100px;
}
div.contenedorClientes
{
    float: left;
    width: 880px;
    margin: 50px;
    box-sizing: border-box;
}
div.contenedorCliente
{
    border: 2px solid #09B7C9;
    border-radius: 5px;
}
div.bolaChica
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: left;
    background-color: #09B7C9;
    margin-top: 13px;
}
.bolaChica.selected,
.bolaChica.selected,
.bolaChica.selected,
.bolaChica.selected
{
    background-color: #0077B0;
}
div.lineaChica
{
    float: left;
    width: 140px;
    height: 5px;
    margin-top: 21px;
    background-color: #09B7C9;
}
div.bolaGrande
{
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50%;
    background-color: #09B7C9;
    cursor: default;
}
div.lineaGandre
{
    float: left;
    width: 365px;
    height: 5px;
    margin-top: 21px;
    background-color: #09B7C9;
}
.bolaChica.selected,
.lineaChica.selected,
.bolaGrande.selected,
.lineaGandre.selected
{
    background-color: #0077B0;
}
.siguiente
{
    float: right;
    color: #FFFFFF;
    background-color: #0077B0;
    border-radius: 5px;
    width: 120px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    /*margin-right: 120px;*/
}
div.pedidosWraper:after,
div.tab:after,
div.menuTabs:after,
div.tab:after
{
    content: '';
    clear: both;
    display: block;
}

div.chosen-container.error{
        border: 2px solid #c00 !important;
      /*border-left: 30px solid #c00 !important;*/
        background-color: #FEE !important;
}

div.chosen-container.error > ul{
        background-color: #FEE !important;
}

div.chosen-container.success{
    background-color: #E6EFC2 !important;
    border-color: #C6D880 !important;

}

div.chosen-container.success  > ul{
    background-color: #E6EFC2 !important;
}
