div.tabs
{
    background-color: #0077B0;
    margin-top: 50px; 
}
div.tabs div.tab
{
    width: 100px;
    float: left;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
    line-height: 25px;
    font-size: 18px;
    color: #FFFFFF;
}
div.tabContent
{
    margin-top: 40px;
}
div.tab.select
{
    background-color: #09B7C9;
}


.agregar.viaje{
    background-image: url('../../images/viajes/iconoNuevoCamion.svg');
    margin-top: 20px;
}

div.tabs:after,
.add-wraper a:after,
.agregar.viaje:after,
.add-wraper:after {
    content: "";
    display: block;
    clear: both;
}