div.addTanque {
    float: right;
    background-color: #0077b0;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    width: 171px;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
    margin-right: 50px;
}
div.addTanque:hover
{
    background-color: #21B7C7;
}
a.gBoton.bBoton
{
    float: right;
    margin-right: 50px;
    margin-left: 0;
}
div.editarTanque {
    width: 100px;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    background-color: #C6D880;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

div.form div.row.buttons {
    margin: 0;
    width:100%;
    margin-top: 27px;
    margin-bottom: 22px;
    float: left;
}

div.form input[type="submit"] {
    width: 135px;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    float: right;
}

.btncanc {
    margin-right: 5px;
    float: left;
    width: 135px;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    background-color: #0077b0;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid #0077b0;
    border-radius: 5px;
    margin-bottom: 5px;
}

div.tanque {
    float: left;
    width: 250px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #0077B0;
    border-radius: 5px;
    /*overflow: hidden;*/
    padding: 20px;
    margin-bottom: 50px;
    position: relative;
}

div.tacha {
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: center;
    cursor: pointer;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 2px solid #0077B0;
    color: #0077B0;
    font-family: 'Roboto-Bold';
}

.form-container1 {
    float: left;
    width: 300px;
    margin-right: 100px;
}

.form-container2 {
    float: left;
    width: 300px;
}

div.form-containerWraper:after {
    content: '';
    display: block;
    clear: both;
}


/**********/

div.form-containerWraper:after {
    content: '';
    display: block;
    clear: both;
}


/*   *    */

div.form-containerWraper:after {
    content: '';
    display: block;
    clear: both;
}

label.letreros {
    font-size: 14px !important;
    color: #0077B0;
}


/*      ************          */

.form-cSmall {
    width: 160px;
}

.form-cLarge {
    width: 100%;
}

.form-cXLarge {
    width: 400px;
}

.form-cRight {
    width: 300px;
    float: left;
    padding-top: 1px;
}

.form-cLeft {
    float: left;
    width: 300px;
    margin-left: 35px;
}

.form-container1 {
    width: 135px;
    height: 66px;
    float: left;
}

.form-container2 {
    width: 135px;
    padding-top: 26px;
    padding-left: 135px;
    height: 50px;
}

.containerBoxRight {
    width: 300px;
    float: left;
    padding-top: 1px;
}

.containertBoxLeft {
    float: left;
    width: 300px;
    margin-left: 35px;
}

.containerBox {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*     *       */

.cLetreros {
    margin-left: 29px;
    font-size: 14px !important;
    color: #0077B0;
}

.letrero-container {
    background-color: #E4E7EB;
    height: 4px;
    width: 68%;
}

.allTanques:after {
    clear: both;
    display: block;
    content: '';
}

body.estacion-create #sidebar {
    display: none;
}

div.form-cLeftContainer:after {
    content: '';
    display: block;
    clear: both;
}
body.estacion div.form input[type="submit"] {
    position: relative;
    width: 135px;
    display: inline-block;
    /*margin-left: 20px;*/
    font-size: 18px !important;
    margin-right: 0 !important;
}
#Estacion_ubicacion
{
    background-image: url('../../images/usuarios/iconoDomicilio.png'), url('../../images/form/bg.png');
    background-position: 8px 5px,left;
    background-repeat: no-repeat;
    padding-left: 35px;
    border-left: 0;
}
.error #Estacion_ubicacion,
#Estacion_ubicacion.error

{
    background-image: url('../../images/usuarios/iconoDomicilio.png'), url('../../images/form/bg_error.png');
}
#Estacion_identificador
{
    background-image: url('../../images/camion/iconoIdentificador.png'), url('../../images/form/bg.png');
    background-position: 8px 5px,left;
    background-repeat: no-repeat;
    padding-left: 35px;
    border-left:0 !important;
}
.error #Estacion_identificador,
#Estacion_identificador.error
{
    background-image: url('../../images/camion/iconoIdentificador.png'), url('../../images/form/bg_error.png');
}
#Estacion_no_personal
{
    background-image: url('../../images/camion/icononumeropasajeros.png'), url('../../images/form/bg.png');
    background-position: 6px 5px,left;
    background-repeat: no-repeat;
    padding-left: 35px;
    border-left:0 !important;
}
.error #Estacion_no_personal, 
#Estacion_no_personal.error
{
    background-image: url('../../images/camion/icononumeropasajeros.png'), url('../../images/form/bg_error.png');
}
#Estacion_color
{
    background-image: url('../../images/camion/iconoColor.png'), url('../../images/form/bg.png');
    background-position: 6px 4px,left;
    background-repeat: no-repeat;
    padding-left: 35px;
    border-left:0 !important;
}
.error #Estacion_color,
#Estacion_color.error
{
    background-image: url('../../images/camion/iconoColor.png'), url('../../images/form/bg_error.png');
}
#Estacion_marca
{
    background-image: url('../../images/camion/iconoMarca.png'), url('../../images/form/bg.png');
    background-position: 8px 5px,left;
    background-repeat: no-repeat;
    padding-left: 35px;
    border-left:0 !important;
}
.error #Estacion_marca,
#Estacion_marca.error
{
    background-image: url('../../images/camion/iconoMarca.png'), url('../../images/form/bg_error.png');
}