div.addTanque 
{
    float: right;
    margin-left: 25px;
    background-color: #0088cc;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    width: 185px;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
}
div.editarTanque
{
    width: 100px;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    background-color: #C6D880;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
div.tanque
{
    border-bottom: 1px solid #D6D6D6;
}
div.tanque:last-child 
{
    border-bottom: 0;
}
.form-container1{
float:left;
width: 300px;
margin-right: 100px;
}
.form-container2{
float:left;
width: 300px;
}

div.form-containerWraper:after
{
    content: '';
    display: block;
    clear: both;
}

/**********/
div.form-containerWraper:after
{
    content: '';
    display: block;
    clear: both;
}

/*   *    */

div.form {
    width: 90% !important;
    margin: 0 auto;
}
div.form-containerWraper:after
{
    content: '';
    display:block;
    clear: both;
}
div.containerbutton{
   margin-top: 50px;
   margin-left:120px;
   width:110px;
}

label.letreros{
    font-size: 14px !important;
    color: #0077B0;
}

/*      ************          */

.form-cSmall{
    width:100px;
}
.form-cMed{
    width:150px;
}
.form-cLarge{
    width:250px;
}

.form-cXLarge{
    width:400px;
}

.form-cRight{
  width: 300px;
  float:left;
  padding-top: 1px;

}
.form-cLeft{
float:left;
width: 300px;
 margin-left: 35px;
}
.form-container1{
width:135px;
height:66px;
float:left;


}
.form-container2{
 width:135px;
 padding-top:26px;
 padding-left: 135px;
 height: 50px;

 }
.containerBoxRight{
  width: 300px;
  float:left;
  padding-top: 1px;
}
.containertBoxLeft{
  float:left;
  width: 300px;  
  margin-left: 35px;
}

.containerBox{
float:left;
width: 100%;
margin-top:10px;
margin-bottom:10px;

}

/*     *       */
.cLetreros{
  margin-left: 29px;
  font-size: 14px !important;
  color: #0077B0;
}

.letrero-container{
 background-color:  #E4E7EB;
 height: 4px;
 width:68%;
}
