/* Datos de monitoreo*/
.rangos-wraper
{
    overflow-x: auto;
    margin-bottom: 10px;
}
.rangosHistorial div
{
    width: 206.38px;
    float:left;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    background-color: #0077B0;
    color: #FFFFFF;
}
.rangosHistorial div.selected
{
    background-color: #09B7C9;
}
.rangos-wraper::-webkit-scrollbar 
{
    height: 5px;
}
.rangos-wraper::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background-color: #CEDCE4;
    border-radius: 10px;
}
.rangos-wraper::-webkit-scrollbar-thumb 
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: #939598;
}
.rangosHistorial:after
{
    display: block;
    clear: both;
    content: '';
}
#datosMon{
	width:1200px;
	height: 230px;
	border:3px solid #09B7C9;
	margin:auto;
	margin-top: 35px;
	font-family: 'Roboto-Regular';
}
p{
	margin:0px;
}
.divTit{
	background-color: #0077B0;
	overflow: hidden;
	width: 100%;
	height: 40px;
}

.tit{
	margin:0px;
	margin-left:49px;
	margin-top:27px;
	margin-bottom:13px;
	font-size: 16px;
    color:#0077b0;
    font-weight: bold;
}

#titLeft{
	float:left;
	width: 50%;
	margin-top: 5px;
	margin-left: -20px;
}
#titRight{
	float:right;
	width: 40%;
	text-align: right;
	line-height: 40px;
	margin-right: 15px;
	color:white;
}
.subtit{
	font-size: 16px;
    color:#0077b0;
    font-weight: bold;
    margin:0px
}
.datosmon,p{
	font-size: 14px;
    
    font-weight: bold;
}

#esp {
    width: 100%;
    max-width: 785px;
    margin: 0 auto;
}

#esp1, #esp2, #esp3, #esp4{
    float: left;
    padding-left:46px;
    padding-right:46px;
    width: 167px;
    height: 160px;
    margin-top: 15px;
}
#esp1, #esp2, #esp3{
	border-right:3px solid #09B7C9;
}

#detallesMon{
	margin:auto;
	margin-top:27px;
	width:1200px;
	font-family: 'Roboto-Regular';
}
.enlace{
	cursor: pointer;
	color:white;
	text-decoration: none;
	float:right;
	text-align: left;
	height: 40px;
	width: 181px;
	text-align: center;
	font-size: 18px;
/*	border-left:4px solid #49dbd0;
	border-right:4px solid #49dbd0;*/
}
.enlace:hover{
	color:white !important;
	text-decoration: none;
	background-color: #09B7C9;
}
#enLeft{
	float:left;
	width: 50%;
	margin-top: 5px;
	margin-left: -20px;

}
#enRight{
	float:right;
	width: 40%;
	text-align: right;
	line-height: 40px;
	color:white;
}
/* Detalles de monitoreo */ 
.tanques{
	margin:0px;
	width:450px;
	float: left;
}
.der{
	margin-right:155px;
	height: 340px;
	width:42%;

}
.izq{
	float:right;
	height: 340px;
	width:42%;
}

.select{
	color:white !important;
	text-decoration: none;
	background-color: #09B7C9;
}
.tanque{
	float:left;
}
.graf{
	width:85px;
	height:120px;
	float:left;
}
.hDatos{
	width:100%;
	height: 100px;

}
.datIzq{
	float:left;
}
.datDer{
	float:right;
}
.boton.graf {
	cursor: pointer;
    background-image: url('../../images/viajes/botonHistorial.png');
    width: 52px;
    height: 38px;
    float:left;
    margin-top: 40px;

}
.boton.adve {
	cursor: pointer;
    background-image: url('../../images/viajes/botonAlertas.png');
    width: 52px;
    height: 38px;
    float:left;
    margin-left:10px;
    margin-top: 40px;
}
h3 {
    background-color: #CEDCE4;
    line-height: 30px;
    color: #0077B0;
    text-align: center;
}
.historial
{
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 1152px;
    height: 740px;
}
.historial .titulo
{
    height: 71px;
    text-indent: 34px;
    color: #FFFFFF;
    font-size: 34px;
    line-height: 71px;
    border-bottom: 3px solid #09B7C9;
    background-color: #0077B0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.historialGraficasWraper 
{
    margin: 65px 60px;
    margin-top: 18px;
}

.menuHistorial
{
    margin-bottom: 35px;
    background-color: #0077B0;
    width: 960px;
    margin:auto;
}
.menuHistorial div
{
    float: left;
    background-color: #0077B0;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    line-height: 42px;
    height: 42px;
    font-family: 'Roboto-Bold';

}
.menuHistorial div.selected
{
    background-color: #09B7C9;
}
.menuHistorial div:nth-child(1)
{
    width: 245px;
}
.menuHistorial div:nth-child(2)
{
    padding: 0 18px;
}
.menuHistorial div:nth-child(3)
{
    padding: 0 27px;
}
.menuHistorial div:nth-child(4)
{
    padding: 0 20px;
}
.menuHistorial div:nth-child(5)
{
    padding: 0 20px;
}
.enlaceC{
	cursor: pointer;
	color:white;
	text-decoration: none;
	text-align: left;
	height: 40px;
	width: 150px !important;
	text-align: center;
	font-size: 18px;
	border-left:4px solid #09B7C9;
	border-right:4px solid #09B7C9;
}
.enlaceC:hover{
	color:white !important;
	text-decoration: none;
	background-color: #09B7C9;
}
div.menuTitulo
{
    width: 50%;
    float: left;
    text-align: left;
    font-size: 18px;
}
div.menuTodos
{
    float: left;
    text-align: right;
    width: 50%;
    font-size: 18px;
}
.menuParametros
{
    background-color: #0077B0;
    margin-bottom: 23px;
    overflow: hidden;
}
.menuSeccion
{
    font-size: 18px;
    float: left;
    width: 105px;
    cursor: pointer;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
}
.menuSeccion.selected
{
    background-color: #09B7C9;
}
.menuHistorial
{
    margin-bottom: 35px;
    background-color: #0077B0;
}
.menuHistorial div
{
    float: left;
    background-color: #0077B0;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    line-height: 42px;
    height: 42px;
    font-family: 'Roboto-Bold';
}
.menuHistorial div.selected
{
    background-color: #09B7C9;
}
.menuHistorial div:nth-child(1)
{
    width: 245px;
}
.menuHistorial div:nth-child(2)
{
    padding: 0 18px;
}
.menuHistorial div:nth-child(3)
{
    padding: 0 27px;
}
.menuHistorial div:nth-child(4)
{
    padding: 0 20px;
}
.menuHistorial div:nth-child(5)
{
    padding: 0 20px;
}
.tanquesColores:after
{
    display: block;
    clear: both;
    content: '';
}
.tanquesColores 
{
    margin-top: 15px;
}
.tanqueItem 
{
    width: 100px;
    float: left;
    cursor: default;
    font-size: 14px;
    font-family: 'Roboto-Bold';
}
.graficasWraper
{
    width: 1032px;
    height: 425px;
}
.grafScroll
{
    width: 1032px;
    height: 425px;
    overflow-x: auto;
}
.grafScroll::-webkit-scrollbar 
{
    width: 5px;
}
.grafScroll::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background-color: #CEDCE4;
    border-radius: 10px;
}
.grafScroll::-webkit-scrollbar-thumb 
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: #939598;
}
div.menuTitulo
{
    width: 50%;
    float: left;
    text-align: left;
    font-size: 18px;
}
div.menuTodos
{
    float: left;
    text-align: right;
    width: 50%;
    font-size: 18px;
}
.enlaceP{
	cursor: pointer;
	color:white;
	text-decoration: none;
	font-size: 14px;
	line-height: 40px;
	/*border-right:4px solid #49dbd0;*/
}
.titulo{
	font-size: 28px;
}
.alertas
{
    width: 1040px;
    height: 540px;
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow: scroll;
}
.tituloAlerta2{
    line-height: 520px;
    height: 520px;
    font-size: 38px;
    text-align: center;
    color:#0079AA;
}
.tituloAlerta
{
    height: 71px;
    line-height: 71px;
    background-color: #F01927;
    color: #FFFFFF;
    text-indent: 34px;
    font-size: 34px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 4px solid #00B8C7;
}
.tablaTitulos
{
    margin: 54px 80px 15px;
    margin-bottom: 0;
    color: #0079AA;
    font-size: 25px;
}
.tablaTitulos span
{
    width: 16%;
    text-indent: 18px;
    display: block;
    float: left;
    padding-bottom: 15px;
}
.tablaWraper
{

    margin: 0 80px;
}
.tablaWraper > div > div
{
    float: left;
    width: 16%;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    border: 1px solid #CEDCE4;
    border-top: 0;
    box-sizing: border-box;
}
.tablaTitulos span:nth-child(1)
{
    border-bottom: 5px solid #9EE7DD;
}
.tablaTitulos span:nth-child(2)
{
    border-bottom: 5px solid #FE713D;
}
.tablaTitulos span:nth-child(3)
{
    border-bottom: 5px solid #0079AA;
}
.tablaTitulos span:nth-child(4)
{
    border-bottom: 5px solid #8198A2;
}
.tablaTitulos span:nth-child(5)
{
    border-bottom: 5px solid #9EE7DD;
}
.tablaTitulos span:nth-child(6)
{
    border-bottom: 5px solid #FE713D;
}
.flechaDown
{
    background-image: url('../../images/viajes/flechaAzul.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.flechaUp
{
    background-image: url('../../images/viajes/flechaRoja.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.tablaWraper span
{
    width: 5px;
    height: 20px;
/*    display: block;
    float: left;*/
    color: transparent;
    margin-left: 5px;
}
.gBoton{
        margin-left: 19px;
}
.backMonitoreo{
    width: 100%;
    height: 45px;
    margin-top: 35px;
}
#esp:after {
    content: "";
    display: block;
    clear: both;
}
