div.form.cepa {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
div.form-containerWraper:after
{
    content: '';
    display:block;
    clear: both;
}
div.containerbutton{
    margin-top: 20px;
    width: 110px;
    float: right;
}
span.containerBox:first-child
{
    width: 620px;
    margin: 0 auto;
    float: none;
    display: block;
}
div.form label {
    margin-bottom: 5px !important;
}

label.letreros{
	font-size: 14px !important;
	color: #0077B0;
}

.form-cSmall
{
    width: 100%;
    position: relative;
}
.form-cSmall span
{
    display: block;
    color: #FFFFFF;
    position: absolute;
    left: 5px;
    top: 9px;
    font-size: 11px;
}

.form-cLarge{
	width:250px;
}

.form-cRight{
  width: 300px;
  float:left;
  padding-top: 1px;

}
.form-container1{
    float: left;
    width: 250px;
    margin: 0 20px 0 60px; 
}
.form-container1.last {
    margin-left: 20px;
}

.form-container11{
    float: left;
    width: 260px;
   
}
input[type="submit"]
{
    width: 150px !important;
    float: right;
    margin-top: 30px;
}
.form-container12{
    float: left;
    width: 260px;
    margin: 0px 0 2px 50px;
    padding-top: 21px;
}
/*****/

.containerBoxRight{
    width: 570px;
    float: right;

}
.containertBoxLeft{
    float: left;
    width: 570px;
    margin-left: 60px;
}

.containerBox{
  float:left;
  width: 100%;
  min-width: 630px;
}

/*     *       */
.cLetreros
{
    margin-left: 29px;
    font-size: 14px !important;
    color: #0077B0;
    margin-top: 26px;
    text-indent: 30px;
}

.letrero-container{
   background-color:  #E4E7EB;
   height: 4px;
   margin: 0 auto;
   width: 90%;
}


/* VIEW CEPA*/

div.view-cepa input:disabled{
    background-color: #FFF !important;
    background: #FFF !important;
}

.regresarCepa{
    margin-top: 30px;
    width: 150px !important;
    
}


/* Formulario Cepa*/

body.cepa-create-especie .form-cSmall input,
body.cepa-update .form-cSmall input{
    width: 80%;
    font-size: 15px;
}


body.cepa-create-especie #cepa-form .form-containerWraper .rangosCepa,
body.cepa-update #cepa-form .form-containerWraper .rangosCepa{
    margin-bottom: 20px;
}

body.cepa-create-especie #contentWrapper div.form.cepa,
body.cepa-update #contentWrapper div.form.cepa{
    margin-top: 50px;

}
.agregar
{
    float: right;
    width: 51px;
    height: 29px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.agregar.especie
{
    background-image: url('./../images/crear/boton_nueva_especie.svg');
}
.agregar.cepa
{
    background-image: url('./../images/crear/boton_nueva_sepa.svg');
}
/* Boton cepa create */
.btnsCepa{
    width: 344px;
    margin: 0 auto;
    float: right;
    height: 40px;
    padding-right: 50px;
}
