#map 
{
    width: 500px;
    height: 400px;
}
div.addDireccion
{
    float: right;
    margin-left: 25px;
    background-color: #0088cc;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    width: 185px;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
}
div.row.des
{
    border-bottom: 1px solid #D6D6D6;
}
div.allMapa:last-child div.row.des
{
    border-bottom: 0;
}
    div.form input, div.form textarea, div.form select, div.form .chosen-container {
    /* margin: 0.2em 0 0.5em 0; */
    min-height: 30px;
    box-sizing: border-box;
    border: 2px solid #0077b0;
    border-radius: 5px;
    border-left: 30px solid #0077b0;
    text-indent: 5px;
    width: 20% !important;
}