#map {
    width: 500px;
    height: 218px;
}
.table-view .dato:nth-child(1) .data
{
    background-image: url('../../images/clientes/iconoempresa.png'), url('../../images/form/bg.png');
    background-position: 9px 6px,left;
    background-repeat: no-repeat;
    padding-left: 35px;
    border-left: 0;
}
.table-view .dato:nth-child(2) .data
{
    background-image: url('../../images/clientes/iconoRFC.png'), url('../../images/form/bg.png');
    background-position: 10px 6px,left;
    background-repeat: no-repeat;
    padding-left: 35px;
    border-left: 0;
}
.table-view .dato:nth-child(4) .data
{
    background-image: url('../../images/clientes/iconoCorreo.png'), url('../../images/form/bg.png');
    background-position: 8px 5px,left;
    background-repeat: no-repeat;
    padding-left: 35px;
    border-left: 0;
}
.table-view .dato:nth-child(7) .data {
    background-image: url('../../images/menu/usuarios.svg'), url('../../images/form/bg.png');
    background-position: 6px 3px, left;
    background-repeat: no-repeat;
    padding-left: 35px;
    border-left: 0;
    background-size: 20px 19px , 14%;
}
.table-view .dato:nth-child(6) .data,
.table-view .dato:nth-child(8) .data,
.table-view .dato:nth-child(9) .data
{
    background-image: url('../../images/clientes/iconoTelefono.png'), url('../../images/form/bg.png');
    background-position: 8px 5px,left;
    background-repeat: no-repeat;
    padding-left: 35px;
    border-left: 0;
}
.row.dom .data
{
    background-image: url('../../images/usuarios/iconoDomicilio.png'), url('../../images/form/bg.png');
    background-position: 8px 5px,left;
    background-repeat: no-repeat;
    padding-left: 35px;
    border-left: 0;
}
.row.des .data
{
    background-image: url('../../images/clientes/iconoDescripcion.png'), url('../../images/form/bg.png');
    background-position: 8px 5px,left;
    background-repeat: no-repeat;
    padding-left: 35px;
    border-left: 0;
}
div.form .row.buttons
{
    width: 100%;
    float:left;
}

a.cancelarDireccion {
    float: left;
    margin-left: 46px;
    width: 135px;
    font-size: 18px;
}

div.form input[type="submit"]
{
    margin-left: 46px;
    width: 135px !important;
    font-size: 18px !important;
}
div.addDireccion 
{
    width: 135px;
    font-size: 18px;
    margin-left: 63px;
    float: left;
    background-color: #0077b0;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
}
div.addDireccion:hover
{
    background-color: #21B7C7;
}


div.allMapa
{
    margin-bottom: 47px;
    width: 500px;
    float: left;
}
div.allMapa:nth-child(odd)
{
    margin-right: 75px;
}
div.allMapa:last-child div.row.des
{
    border-bottom: 0;
}
div.form input, div.form textarea, div.form select, div.form .chosen-container 
{
    /* margin: 0.2em 0 0.5em 0; */
    min-height: 30px;
    box-sizing: border-box;
    border: 2px solid #0077b0;
    border-radius: 5px;
    border-left: 30px solid #0077b0;
    text-indent: 5px;
    width: 100% !important;
}

/*   *    */

div.form-containerWraper:after,
div.containerbutton:after
{
    content: '';
    display:block;
    clear: both;
}
div.containerbutton{
   width: 100%;
}

label.letreros{
    font-size: 14px !important;
    color: #0077B0;
}







.form-cSmall{
    width:100px;
}
.form-cXMedium{
  width:295px;
}
.form-cLarge{
    width:250px;
}
.form-cXLarge{
    /*width:400px;*/
}

.form-cRight{
  width: 300px;
  float:left;
  padding-top: 1px;

}
.form-cLeft{
float:left;
width: 300px;
 margin-left: 60px;
}

 .form-cLeft1 {
    /*float: left;*/
    /*width:550px;*/
    margin-left: 60px;
}
.form-cLeft1:after
{
    display: block;
    content: '';
    clear: both;
}
.form-cRight1{
    width: 248px;
    float: left;
    padding-top: 1px;
}


.form-container1{
width:135px;
height:66px;
float:left;


}
.form-container2{
 width:135px;
 padding-top:26px;
 padding-left: 135px;
 height: 50px;

 }
.containerBoxRight{
  width: 300px;
  float:left;
  padding-top: 1px;
}
.containertBoxLeft{
  float:left;
  width: 300px;  
  margin-left: 35px;
}

.containerBox{
float:left;
width: 100%;
margin-top:10px;
margin-bottom:10px;

}

/*     *       */
.cLetreros{
  margin-left: 29px;
  font-size: 14px !important;
  color: #0077B0;
}

.letrero-container{
 background-color:  #E4E7EB;
 height: 4px;
 /*width:80%;*/
}
.letrero-containerx{
  background-color:  #E4E7EB;
  height: 4px;
  width:100%;
  margin-top: 10px;
 }



/*body.clientes-create  #content{
    background-image: url('./../../images/dashboard/logoTransparente.png');
    background-position: right 15% top 70%;
    background-repeat: no-repeat;

}*/



/*
*  Iconos a Inputs
*/


.ClienteDomicilio{
  background-image: url('../../images/clientes/iconoDomicilio.png'), url('../../images/form/bg.png');
  background-position: 8px 5px,left;
  background-repeat: no-repeat;
  padding-left: 35px;
  border-left:0 !important;
}
.ClienteDomicilio.error{
  background-image: url('../../images/clientes/iconoDomicilio.png'), url('../../images/form/bg_error.png');
}
.error .ClienteDomicilio{
  background-image: url('../../images/clientes/iconoDomicilio.png'), url('../../images/form/bg_error.png');
}




#Clientes_nombre_empresa{
  background-image: url('../../images/clientes/iconoempresa.png'), url('../../images/form/bg.png');
  background-position: 10px 5px,left;
  background-repeat: no-repeat;
  padding-left: 35px;
  border-left:0;
}
#Clientes_nombre_empresa.error{
  background-image: url('../../images/clientes/iconoempresa.png'), url('../../images/form/bg_error.png');
}
.error #Clientes_nombre_empresa{
  background-image: url('../../images/clientes/iconoempresa.png'), url('../../images/form/bg_error.png');
}




#Clientes_rfc{
  background-image: url('../../images/clientes/iconoRFC.png'), url('../../images/form/bg.png');
  background-position: 10px 5px,left;
  background-repeat: no-repeat;
  padding-left: 35px;
  border-left:0;
}
#Clientes_rfc.error{
  background-image: url('../../images/clientes/iconoRFC.png'), url('../../images/form/bg_error.png');
}
.error #Clientes_rfc{
  background-image: url('../../images/clientes/iconoRFC.png'), url('../../images/form/bg_error.png');
}




#Clientes_correo{
  background-image: url('../../images/clientes/iconoCorreo.png'), url('../../images/form/bg.png');
  background-position: 8px 5px,left;
  background-repeat: no-repeat;
  padding-left: 35px;
  border-left:0;
}
#Clientes_correo.error{
  background-image: url('../../images/clientes/iconoCorreo.png'), url('../../images/form/bg_error.png');
}
.error #Clientes_correo{
  background-image: url('../../images/clientes/iconoCorreo.png'), url('../../images/form/bg_error.png');
}






#Clientes_tel{
  background-image: url('../../images/clientes/iconoTelefono.png'), url('../../images/form/bg.png');
  background-position: 8px 5px,left;
  background-repeat: no-repeat;
  padding-left: 35px;
  border-left:0;
}
#Clientes_tel.error{
  background-image: url('../../images/clientes/iconoTelefono.png'), url('../../images/form/bg_error.png');
}
.error #Clientes_tel{
  background-image: url('../../images/clientes/iconoTelefono.png'), url('../../images/form/bg_error.png');
}

#Clientes_ext{
  background-image: url('../../images/clientes/iconoTelefono.png'), url('../../images/form/bg.png');
  background-position: 8px 5px,left;
  background-repeat: no-repeat;
  padding-left: 35px;
  border-left:0;
}
#Clientes_ext.error{
  background-image: url('../../images/clientes/iconoTelefono.png'), url('../../images/form/bg_error.png');
}
.error #Clientes_ext{
  background-image: url('../../images/clientes/iconoTelefono.png'), url('../../images/form/bg_error.png');
}
#Clientes_cel{
  background-image: url('../../images/clientes/iconoTelefono.png'), url('../../images/form/bg.png');
  background-position: 8px 5px,left;
  background-repeat: no-repeat;
  padding-left: 35px;
  border-left:0;
}
#Clientes_cel.error{
 background-image: url('../../images/clientes/iconoTelefono.png'), url('../../images/form/bg_error.png');
}
.error #Clientes_cel{
  background-image: url('../../images/clientes/iconoTelefono.png'), url('../../images/form/bg_error.png');
}



#Clientes_nombre_contacto{
  background-image: url('../../images/clientes/iconoNombre.png'), url('../../images/form/bg.png');
  background-position: 8px 5px,left;
  background-repeat: no-repeat;
  padding-left: 35px;
  border-left:0;
}
#Clientes_nombre_contacto.error{
  background-image: url('../../images/clientes/iconoNombre.png'), url('../../images/form/bg_error.png');
}
.error #Clientes_nombre_contacto{
  background-image: url('../../images/clientes/iconoNombre.png'), url('../../images/form/bg_error.png');
}



#Clientes_apellido_contacto{
  background-image: url('../../images/clientes/iconoNombre.png'), url('../../images/form/bg.png');
  background-position: 8px 5px,left;
  background-repeat: no-repeat;
  padding-left: 35px;
  border-left:0;
}
#Clientes_apellido_contacto.error{
  background-image: url('../../images/clientes/iconoNombre.png'), url('../../images/form/bg_error.png');
  border: 2px solid #cc0403;
}
.error #Clientes_apellido_contacto{
  background-image: url('../../images/clientes/iconoNombre.png'), url('../../images/form/bg_error.png');
  border: 2px solid #cc0403;
}
.allMapa .dom input
{
    background-image: url('../../images/usuarios/iconoDomicilio.png'), url('../../images/form/bg.png');
    background-position: 8px 5px,left;
    background-repeat: no-repeat;
    padding-left: 35px;
    border-left:0;
}
.allMapa .des input
{
    background-image: url('../../images/clientes/iconoDescripcion.png'), url('../../images/form/bg.png');
    background-position: 8px 5px,left;
    background-repeat: no-repeat;
    padding-left: 35px;
    border-left:0;
}



div.form div.row.dom div.data
{
    width: 100%;
}