/* Datos de monitoreo*/
#datosMon{
	width:1200px;
	height: 300px;
	border:4px solid #49dbd0;
	margin:auto;
	margin-top: 35px;
	font-family: 'Roboto-Regular';
}
p{
	margin:0px;
}
.divTit{
	background-color: #0077B0;
	overflow: hidden;
	width: 100%;
	height: 40px;
}

.tit{
	margin:0px;
	margin-left:49px;
	margin-top:27px;
	margin-bottom:13px;
	font-size: 16px;
    color:#0077b0;
    font-weight: bold;
}

#titLeft{
	float:left;
	width: 50%;
	margin-top: 5px;
	margin-left: -20px;
}
#titRight{
	float:right;
	width: 40%;
	text-align: right;
	line-height: 40px;
	margin-right: 15px;
	color:white;
}
.subtit{
	font-size: 16px;
    color:#0077b0;
    font-weight: bold;
    margin:0px
}
.datosmon,p{
	font-size: 14px;
    
    font-weight: bold;
}

#esp1, #esp2, #esp3, #esp4{
	float: left;
	padding-left:46px;
	padding-right:46px;
	width: 167px;
	height: 140px;
}
#esp1, #esp2, #esp3{
	border-right:4px solid #49dbd0;
}

#detallesMon{
	margin:auto;
	margin-top:27px;
	width:1200px;
	font-family: 'Roboto-Regular';
}
.enlace{
	cursor: pointer;
	color:white;
	text-decoration: none;
	float:right;
	text-align: left;
	height: 40px;
	width: 181px;
	text-align: center;
	font-size: 18px;
	border-left:4px solid #49dbd0;
	border-right:4px solid #49dbd0;
}
.enlace:hover{
	color:white !important;
	text-decoration: none;
	background-color: #49dbd0;
}
#enLeft{
	float:left;
	width: 50%;
	margin-top: 5px;
	margin-left: -20px;

}
#enRight{
	float:right;
	width: 40%;
	text-align: right;
	line-height: 40px;
	color:white;
}
/* Detalles de monitoreo */ 
.tanques{
	margin:0px;
	width:450px;
	float: left;
}
.der{
	margin-right:155px;
	height: 340px;
	width:42%;

}
.izq{
	float:right;
	height: 340px;
	width:42%;
}

.select{
	color:white !important;
	text-decoration: none;
	background-color: #49dbd0;
}
.tanque{
	float:left;
}
.graf{
	width:85px;
	height:120px;
	float:left;
}
.hDatos{
	width:100%;
	height: 100px;

}
.datIzq{
	float:left;
}
.datDer{
	float:right;
}
.boton.graf {
	cursor: pointer;
    background-image: url('../../images/viajes/botonHistorial.png');
    width: 52px;
    height: 38px;
    float:left;
    margin-top: 40px;

}
.boton.adve {
	cursor: pointer;
    background-image: url('../../images/viajes/botonAlertas.png');
    width: 52px;
    height: 38px;
    float:left;
    margin-left:10px;
    margin-top: 40px;
}
h3 {
    background-color: #CEDCE4;
    line-height: 30px;
    color: #0077B0;
    text-align: center;
}
.historial
{
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 1152px;
    height: 706px;
}
.historial .titulo
{
    height: 71px;
    text-indent: 34px;
    color: #FFFFFF;
    font-size: 34px;
    line-height: 71px;
    border-bottom: 3px solid #09B7C9;
    background-color: #0077B0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.historialGraficasWraper
{
    margin: 65px 60px;
}
.menuHistorial
{
    margin-bottom: 35px;
    background-color: #0077B0;
    width: 960px;
    margin:auto;
}
.menuHistorial div
{
    float: left;
    background-color: #0077B0;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    line-height: 42px;
    height: 42px;
    font-family: 'Roboto-Bold';

}
.menuHistorial div.selected
{
    background-color: #09B7C9;
}
.menuHistorial div:nth-child(1)
{
    width: 245px;
}
.menuHistorial div:nth-child(2)
{
    padding: 0 18px;
}
.menuHistorial div:nth-child(3)
{
    padding: 0 27px;
}
.menuHistorial div:nth-child(4)
{
    padding: 0 20px;
}
.menuHistorial div:nth-child(5)
{
    padding: 0 20px;
}
.enlaceC{
	cursor: pointer;
	color:white;
	text-decoration: none;
	text-align: left;
	height: 40px;
	width: 150px !important;
	text-align: center;
	font-size: 18px;
	border-left:4px solid #49dbd0;
	border-right:4px solid #49dbd0;
}
.enlaceC:hover{
	color:white !important;
	text-decoration: none;
	background-color: #49dbd0;
}