/*
 * FORM ICONS
 */

#Viajes_id_responsable {
    background-image: url('../../images/viajes/nv_iconoUsuario.png'), url('../../images/form/bg.png');
    background-position: 8px 5px, left;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-left: 0;
}

.error #Viajes_id_responsable {
    background-image: url('../../images/viajes/nv_iconoUsuario.png'), url('../../images/form/bg_error.png');
    border: 2px solid #c00;
}

#Viajes_id_responsable.error {
    background-image: url('../../images/viajes/nv_iconoUsuario.png'), url('../../images/form/bg_error.png');
    border: 2px solid #c00;
}

#SolicitudesViaje_id_personal_1_tecnico {
    background-image: url('../../images/viajes/nv_iconoUsuario.png'), url('../../images/form/bg.png');
    background-position: 8px 5px, left;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-left: 0;
}

#Viajes_fecha_salida,
#Viajes_hora_salida {
    background-image: url('../../images/viajes/nv_iconoCalendario.png'), url('../../images/form/bg.png');
    background-position: 8px 5px, left;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-left: 0;
}

.error #Viajes_fecha_salida,
.error #Viajes_hora_salida {
    background-image: url('../../images/viajes/nv_iconoCalendario.png'), url('../../images/form/bg_error.png');
    border: 2px solid #c00;
}

#Viajes_fecha_salida.error,
#Viajes_hora_salida.error {
    background-image: url('../../images/viajes/nv_iconoCalendario.png'), url('../../images/form/bg_error.png');
    border: 2px solid #c00;
}

#Viajes_id_estacion {
    background-image: url('../../images/viajes/nv_iconoCamion.png'), url('../../images/form/bg.png');
    background-position: 8px 5px, left;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-left: 0;
}

.error #Viajes_id_estacion {
    background-image: url('../../images/viajes/nv_iconoCamion.png'), url('../../images/form/bg_error.png');
    border: 2px solid #c00;
}

#Viajes_id_estacion.error {
    background-image: url('../../images/viajes/nv_iconoCamion.png'), url('../../images/form/bg_error.png');
    border: 2px solid #c00;
}

div.form .chosen-container#SolicitudesViaje_id_personal_1_tecnico_chosen,
div.form .chosen-container#SolicitudesViaje_id_personal_1_chofer_chosen {
    background-image: url('../../images/viajes/nv_iconoChofer.png'), url('../../images/usuarios/bg.png');
    background-position: 8px 5px, left;
    background-repeat: no-repeat;
    padding-left: 30px;
    border-left: 0;
}

div.form .chosen-container#SolicitudesViaje_id_personal_1_tecnico_chosen.error,
div.form .chosen-container#SolicitudesViaje_id_personal_1_chofer_chosen.error {
    background-image: url('../../images/viajes/nv_iconoChofer.png'), url('../../images/form/bg_error.png');
    background-position: 8px 5px, left;
    background-repeat: no-repeat;
}

div.pedido {
    float: left;
    width: 250px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #0077B0;
    border-radius: 5px;
    overflow: hidden;
}

div.form {
    margin-top: 60px !important;
}

div.tituloEspecie {
    background-color: #0077B0;
    text-align: center;
    color: #FFFFFF;
    line-height: 25px;
}

div.menuTabs {
    margin-bottom: 70px;
    position: relative;
}

div.nombreTabs {
    position: absolute;
    color: #0077B0;
}

div.nombreTabs.uno {}

div.nombreTabs.dos {}

div.nombreTabs.tres {}

div.tab {
    width: 1080px;
    margin: 0 auto;
}

div.pedidoWraper {
    padding: 10px;
}

div.pedidoWraper.gris {
    background-color: #E6E7E8;
    height: auto;
}

div.pedidoWraper > div {
    padding-bottom: 10px;
    color: #0077B0;
    font-family: 'Roboto-Bold';
}

div.pedidoWraper div span {
    color: #000000;
    font-family: 'Roboto-Regular';
}

div.tab[data-tab="1"] div.formContainer1 {
    width: 47%;
    float: left;
}



.siguiente.dos {
    margin-right: 10px;
}

div.form div.tab div.row input,
div.form div.tab div.row .css-select {
    width: 100%;
}

div.form div.tab div.row {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;
}

div.form div.tab div.row.buttons {
    float: right;
    margin-top: 50px;
    width: 100px;
    margin-right: 167px;
    /* --- 
    position: fixed;
    top:230px;
    right: 0; */
}

.floating {
    float: right;
    margin-top: 50px;
    width: 100px;
    margin-right: 167px;
    /* --- */
    position: fixed;
    top: 230px;
    right: 0;
}

div.contenedorClientes {
    float: left;
    width: 880px;
    margin: 50px;
    box-sizing: border-box;
}

div.contenedorCliente {
    border: 2px solid #09B7C9;
    border-radius: 5px;
}

div.bolaChica {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: left;
    background-color: #09B7C9;
    margin-top: 13px;
}

.bolaChica.selected,
.bolaChica.selected,
.bolaChica.selected,
.bolaChica.selected {
    background-color: #0077B0;
}

div.lineaChica {
    float: left;
    width: 140px;
    height: 5px;
    margin-top: 21px;
    background-color: #09B7C9;
}

div.bolaGrande {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50%;
    background-color: #09B7C9;
    cursor: default;
}

div.lineaGandre {
    float: left;
    width: 365px;
    height: 5px;
    margin-top: 21px;
    background-color: #09B7C9;
}

.bolaChica.selected,
.lineaChica.selected,
.bolaGrande.selected,
.lineaGandre.selected {
    background-color: #0077B0;
}

.siguiente {
    display: inline-block;
    color: #FFFFFF;
    background-color: #0077B0;
    border-radius: 5px;
    width: 120px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

div.pedidosWraper:after,
div.tab:after,
div.menuTabs:after,
div.tab:after {
    content: '';
    clear: both;
    display: block;
}

div.chosen-container.error {
    border: 2px solid #c00 !important;
    /*border-left: 30px solid #c00 !important;*/
    background-color: #FEE !important;
}

div.chosen-container.error > ul {
    background-color: #FEE !important;
}

#contV3 {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 3px solid #49DBD0;
    margin: auto;
    width: 60%;
    font-family: 'Roboto-Regular';
    color: black;
    font-weight: bold;
    float: left;
}

.izq {
    float: right;
    width: 10%;
    position: relative;
    left: 50px;
    top: -45px;
}

#vt1,
#vt2 {
    font-family: 'Roboto-Regular';
    line-height: 45px;
    background-color: #0077b0;
    border: 0px solid white;
    height: 45px;
    color: white;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto-Regular';
    font-size: 20px;
    padding-left: 30px;
    vertical-align: middle;
}

#vt1 {
    border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -webkit-border-radius: 7px 7px 0px 0px;

}

#vc1,
#vc2 {
    height: 190px;
    margin-left: 30px;
}

#vc1 {
    height: 70px;
    margin-top: 30px;
}
#vc1 p {
    margin-bottom: 1em;
}

#vc2 {
    margin-bottom: 1em;
    margin-top: 20px;
}

.vresalta {
    font-size: 14px;
    color: #0077b0;
}

.row.buttons.floating a.gBoton {
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
}

.row.buttons.floating input[type="submit"] {
    font-size: 15px;
}
#vtitulo {
    color: #0077b0;
    margin-top: 20px;
    font-size: 18px;
}

.vbox {
    overflow: hidden;
}

.boxCont {
    overflow: hidden;
    width: 100%;
    margin-left: 20%;
    margin-bottom: 30px;
}

.content {
    padding: 0 20px;
    text-align: justify;
}

.left {
    float: left;
    width: 40%;
}

.left .content {}

.right {
    float: right;
    width: 40%;
}

#vcont th {
    width: 20%;
}

.pc,
.pf {
    width: 20%;
    color: #0077b0;
}

#vcont {
    width: 70% !important;
}



/* CAMP SENSADO */ 

.botonesWrapper{
    margin-top: 20px;
    display: block;
    padding-right: 100px;
    text-align: right;
}


.botonesWrapper2{
    margin-top: 20px;
    display: block;
    padding-right: 0px;
    text-align: right;
}