div.formContainer1
{
    width: 35%;
    float: left;
}
div.form
{
    margin-top: 53px !important;
}
div.formContainer2
{
    width: 50%;
    float: right;
    margin-right: 20px;
}
div.form h2
{
    background-color: #E6E7E8;
    color: #0077B0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-indent: 0;
}
div.form input, .css-select
{
    width: 100%;
    box-sizing: border-box;
}
div.formContainer2 div.wraper
{
    border: 1px solid #0077B0;
    box-sizing: border-box;
    min-height: 50px;
    padding: 10px;
    position: relative;
    width: 100%;
    font-size: 15px;
}
div.fechaYora
{
    position: absolute;
    top: 10px;
    right: 10px;
}
div.fechaYora div
{
    text-align: right;
}
div.datosContacto
{
    margin-bottom: 5px;
}
div.titulo, div.titulo2, div.titulo3
{
    color: #0077B0;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
}
div.titulo2
{
    padding-top: 25px;
}
div.titulo3{
    width: 50%;
    float:left;
}
div.datosCliente span
{
    font-weight: bold;
}
div.form .agregar
{
    background-color: #0077B0;
    border-radius: 5px;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 150px;
    margin-right: 0;
}
.pedidosWraper
{
    max-height: 290px;
    width: 100%;
    overflow-y: auto;
}
div.form div.formContainer1 .row.cantidad
{
    margin-bottom: 10px;
}
div.row.cantidad div
{
    width: 45%;
    float: left;
}
div.row.cantidad div.noTanques input
{
    float: left;
    width: 70%;
}
div.row.cantidad div.noTanques input
{
    width: 70%;
    float:left;
}
div.row.cantidad div:nth-child(2)
{
    float: right;
}
#inputC{
    width: 100%;
}
.ierror{
    color:#C00;

}
div.row.direcciones span.css-select-moz
{
    width: 75% !important;
    float: left;
}
div.botonOtra
{
    background-color: #0077B0;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 20%;
}


div.form div.formContainer1 .row
{
    margin-bottom: 20px;
}
div.form .row.buttons
{
    margin-top: 25px;
}
div.form label
{
    color: #0077B0;
    padding-bottom: 10px;
}


#scroll::-webkit-scrollbar 
{
    width: 5px;
}
#scroll::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
#scroll::-webkit-scrollbar-thumb 
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: #565656;
}
div.pedidoViaje:nth-child(1),
div.pedidoViaje:nth-child(2),
div.pedidoViaje:nth-child(3)
{
    padding-bottom: 15px;
}
div.pedido:last-child
{
    padding-bottom: 35px;
}
div.datosPedido
{
    float: left;
    width: 70%;
}
div.botonesPedido
{
    float: left;
    width: 30%;
    margin-top: 15px;
}

.pedidoInfo:nth-child(8)
{
    text-align: center;
}

.pedidoInfo:nth-child(8), .pedidoInfo:nth-child(7)
{
    width: 50%;
    float: left;
}

.editarPedido, 
.borrarPedido
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    cursor: pointer;
    float: left;
    height: 15px;
    width: 50%;

}


.editarPedido
{
    background-image: url(./../../images/solicitud/editar.png)
}
.borrarPedido
{
    background-image: url(./../../images/solicitud/borrar.png)
}
div.botones
{
    margin-top: 15px;
}
div.botones .guardar
{
    background-color: #09b7c9;
}
div.botones .continuar
{
    background-color: #0077B0;
}
div.botones .guardar,
div.botones .continuar
{
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    height: 35px;
    line-height: 35px;
    margin-left: 15px;
    text-align: center;
    width: 135px;
    font-size: 18px;
}
div.subtitulos div
{
    float: left;
    width: 37%;
    color: #0077B0;
}
div.subtitulos div:nth-child(2)
{
    text-align: center;
}
div.renglon div:nth-child(1),
div.renglon div:nth-child(2)
{
    width: 37%;
    /*margin-right: 3%;*/
    float: left;
}
div.renglon div:nth-child(2)
{
    text-align: center;
    margin-right: 0;
}
div.renglon
{
    margin-bottom: 10px;
}
div.tablaViajes
{
    margin-top: 10px;
}
div.viajeLoc, div.viajeSel
{
    background-color: #0077B0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 47px 34px;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    height: 30px;
    margin-left: 15px;
    width: 43px;
}
div.viajeLoc
{
    background-image: url(./../../images/solicitud/botonUbicacion.png);
}
div.viajeSel
{
    background-image: url(./../../images/solicitud/botonAgregar.png);
}
div.crearViaje input[type="submit"]
{
    width: 128px;
    float: right;
    font-size: inherit !important;
}

div.form:after,
div.input.boton:after,
div.pedido:after,
div.pedidoViaje:after,
div.botones:after,
div.subtitulos:after,
div.renglon:after
{
    display: block;
    clear: both;
    content: '';
}

/*
 *   FORM ICONS
 */


#Solicitudes_id_clientes_chosen{
  background-image: url('../../images/solicitud/IconoClientesSolicitud.png'), 
                    url('../../images/usuarios/bg.png');
  background-position: 6px 3px,left;
  background-repeat: no-repeat;
  border-left:0;
  padding-left: 30px;
}


#Especie_id_chosen{
  background-image: url('../../images/solicitud/iconoPezSolicitud.png'), 
                    url('../../images/usuarios/bg.png');
  background-position: 5px 5px,left;
  background-repeat: no-repeat;
  background-size: 21px, 30px;
  border-left:0;
  padding-left: 30px;
}


#Cepa_id_chosen{
  background-image: url('../../images/solicitud/iconoCepasSolicitud.png'), 
                    url('../../images/usuarios/bg.png');
  background-position: 6px 8px,left;
  background-repeat: no-repeat;
  border-left:0;
  padding-left: 30px;
}


/**
*   AGREGAR DIRECCION - BEGIN
**/


#map
{
    height: 250px;
    margin-bottom: 10px;
    width: 100%;
}


div.aceptarDireccion, 
div.cancelarDireccion
{
    background-color: #0077B0;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    text-align: center;
    width: 100px;
}

div.aceptarDireccion{
    background-color: #0077b0;
    border-radius: 5px;
    color:white;
    cursor: pointer;
    display: inline-block;
    float:right;
    margin-right: 10px !important;
    margin:0 auto;
    padding: 6px;
    position: relative;
    text-align: center;
    width: 100px;
}

div.cancelarDireccion
{
    background-color: #0077b0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    float:left;
    margin-left: 10px;
    margin:0 auto;
    padding: 6px;
    position: relative;
    text-align: center;
    width: 100px;
}


.OtroDom{
    background-image: url('../../images/form/bg.png');
    /*background-position: 8px 5px,left;*/
    background-repeat: no-repeat;
    padding-left: 30px;
    border-left: 0;
}
.OtroDom.inputDom{
    background-image: url('../../images/personal/iconoDomicilio.png'), 
                      url('../../images/form/bg.png') !important;
    background-position: 6px 5px,left;
}
.OtroDom.readOnly{
    border:2px solid #dee5e8;
    border-left: 30px solid #dee5e8;
    background-image: none; 
    padding-left: 0px;
}
input.OtroDom{
    border-left: 0;
    border-radius: 5px;
    border: 2px solid #0077b0;
    box-sizing: border-box;
    margin-bottom: 15px;
    min-height: 30px;
    text-indent: 5px;
    width: 100%;
}

.Odom{
    margin:10px;
}

.Odom label{
    color: #0077B0;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
 }

.Odom .buttons{
    margin-top: 10px;
  }

/**
*   AGREGAR DIRECCION - END
**/
.direccionesContainer
{
    width: 480px;
}
.direccionesContainer .titulo
{
    height: 53px;
    line-height: 67px;
    background-color: #0077B0;
    color: #FFFFFF;
    text-indent: 34px;
    font-size: 28px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 4px solid #00B8C7;
}
.direccionesTabla
{
    margin: 35px;
}
.direccion-wraper
{
    float: left;
    width: 175px;
}
.direccion
{
    font-size:14px;
    /*float: left;*/
}
.direccion-wraper:nth-child(odd)
{
    margin-right: 25px;
}
.direccionIcono
{
    background-image: url("../../images/dashboard/iconoUbicacion.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 27px;
    float: left;
    background-size: 14px;
    margin-right: 5px;
}

.direccion-wraper:after,
.direccionesTabla:after
{
    display: block;
    clear: both;
    content: '';
}
.msgError{
    font-family: 'Roboto-Regular';
    font-size: 13pt;
    color: #0077b0;
    font-weight: lighter;
    width: 80%;
    margin-left: 33px;
    margin-top: 10px;
}
.btndel{
    font-size: 16px !important;
}
.cBoton{
    line-height: 34px;
    font-size: 16px;
    float: left;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background-color: #0077b0;
    color: white;
    width: 135px;
    height: 34px;
    border: 0px solid white;
    cursor: pointer;
    text-align: center;
    margin-left: 30px;
}
.cBoton:hover {
    text-decoration: none;
    color: #FFF;
}
.cBoton:hover {
    background-color: #49dbd0;
}