div.form{
	margin-top: 0 !important;
}
.dato .data{
      padding-left: 40px;
}
.dato:nth-child(1) .data
{
    background-image: url('../../images/solicitud/IconoClientesSolicitud.png'), 
                      url('../../images/usuarios/bg.png');
   background-position: 6px 4px,left;
    background-repeat: no-repeat;
    border-left: 0;

}
.dato:nth-child(2) .data
{
    
}
.dato:nth-child(3) .data,
.dato:nth-child(4) .data,
.dato:nth-child(5) .data,
.dato:nth-child(6) .data,
.dato:nth-child(7) .data,
.dato:nth-child(8) .data
{
    background-image: url('../../images/viajes/nv_iconoCalendario.png'), url('../../images/form/bg.png');
    background-position: 7px 6px, left;
    background-repeat: no-repeat;
  
    border-left: 0;
}
.dato:nth-child(9) .data
{
    background-image: url('../../images/solicitud/iconoNotas.png'), url('../../images/form/bg.png');
    background-position: 7px 5px,left;
    background-repeat: no-repeat;
    border-left: 0;
  
}
.dato:nth-child(10) .data
{
    background-image: url('../../images/camion/iconoIdentificador.png'), url('../../images/form/bg.png');
    background-position: 8px 8px,left;
    background-repeat: no-repeat;
    
    border-left: 0;
}